@import url(https://fonts.googleapis.com/css?family=Frijole);



.jay {
    font-family: 'Gentium Book Basic', cursive;
    color: green;
}
.test5-3{
	color: red;
	border-color:green;
	border-width: 1px;
	border-style: solid;
	background-color: #97B2F1
	width:50%;
	padding: 1%;
	margin: auto;



}
